{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <style>


    </style>

    <div class="example-wrapper">
        {# templates/task/new.html.twig #}
        {{ form(form) }}
    </div>
{% endblock %}